<div class="container" style="background-color: #e0ddda; border: 1px solid #ff4500;">	
	<h1>About Us</h1>

	<p>Over in America Fantasy Football is a hugely growing market. When you land on one of their websites you are greeted with enough information to make any self respecting Brit turn off the computer and put the kettle on.</p>

	<p>Here at NewCo we our proud of out British heritage and simplicity. Unlike our American cousins we don’t always think that bigger is better, we aren’t here to throw hundreds of competitions laced with enough statistical data to make you feel like you are sitting a test. We want to make the fantasy experience one us brits can be proud of. </p>

	<p>Owing to the typical British snobbery we have inherited from our forefathers we believe we can do a better job than our Cousins across the pond.</p>

	<p>Our first goal is to have a free tournament live for the Euro’s… If you are interested in our journey and would like a nudge on the shoulder when we are ready for our first competition then please register your interest by clicking the button below.</p>
</div>