/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	height: 100%;
}

body{
    /*background-color: #525252;*/
    /*background-image: -webkit-radial-gradient(center top,circle cover,rgba(86,86,86,.5),rgba(33, 29, 29, 0.95));*/
    background-color: rgba(38,38,38,0.95); -webkit-font-smoothing: antialiased;
    height: 1000px;
    color: #5d5d5d;
  	font-family: "Bell Gothic W01 Black 691900", arial;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

p{  
  margin-right: 5px;
  font-size: 17px;
}

.navbar-default{
	background-color: #e0ddda;
	border-bottom: 2px solid #691C1C;
}

.navbar{
	border-radius: 0px;
}

.btn-maroon{
  color: #ffffff;
  background-color: #691C1C;
}